body {
	background-color: #cad2d3;
	color: #00a1cd; /* CBS corporate lichtblauw */
}

.box-header {
  margin: 0px 10px 10px;
}

.box-wrapper {
  padding: 20px 0px 0px 0px;
  border: none;
}

.box-content {
  background: white;
  margin: 0px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px grey
}

/* slider */

.rc-slider-rail {
	background-color: #f4f4f2;
}

.rc-slider-track {
	background-color: #00a1cd;
}

.rc-slider-handle {
	border: solid 2px #00a1cd;
	background-color: #fff;
}

.rc-slider-handle:hover {
	border-color: #271d6c;
}

/* what does this actually do? */
.rc-slider-handle-active:active {
	border-color: green;
	box-shadow: 0 0 50px green;
}

.rc-slider-mark-text {
/*	color: #111;*/
}

.rc-slider-mark-text-active {
/*	color: #fff;*/
}

.rc-slider-dot {
	border: 2px solid #e9e9e9;
	background-color: #fff;
}

.rc-slider-dot-active{
	border-color: #00a1cd;
}

.rc-slider-disabled {
	background-color: #e9e9e9;
}

.rc-slider-disabled .rc-slider-track {
	background-color: #ccc;
}

.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
	border-color: #ccc;
	background-color: #fff;
	cursor: not-allowed;
}

.rc-slider-tooltip-inner {
	padding: 6px 2px;
	min-width: 24px;
	height: 24px;
	font-size: 12px;
	line-height: 1;
	color: #fff;
	text-align: center;
	text-decoration: none;
	background-color: #6c6c6c;
	border-radius: 6px;
	box-shadow: 0 0 4px #d9d9d9;
}

.rc-slider-tooltip-placement-top .rc-slider-tooltip-arrow {
	bottom: 4px;
	left: 50%;
	margin-left: -4px;
	border-width: 4px 4px 0;
	border-top-color: #6c6c6c;
}
